#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tags,
#questions-list,
.answers-list {
  list-style: none;
}

#questions-list li {
  border: 5px solid transparent;
  box-sizing: border-box;
  margin-top: 1em;
}

#questions-list li.correct {
  border-color: darkseagreen;
}

#questions-list li.incorrect {
  border-color: red;
}

.tags {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-top: 2em;
}

.tag {
  display: block;
  border-radius: 6px;
  border: 1px solid whitesmoke !important;
  margin: .25em;
  padding: .33em;
  user-select: none;
}

.tag.difficulty.easy {
  background-color: darkslategray;
}

.tag.difficulty.medium {
  background-color: darkslateblue;
}

.tag.difficulty.hard {
  background-color: darkred;
}

.loader {
  border: 24px solid;
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: animloader 1s linear infinite;
  }
}

@keyframes animloader {
  0% {
    border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75);
  }

  33% {
    border-color: rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35);
  }

  66% {
    border-color: rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25);
  }

  100% {
    border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15);
  }
}